@import "../../../scss/index.scss";

.admin-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 65px;
  &__nav-text {
    display: flex !important;
    justify-content: left !important;
  }
}
