@import "../../../scss/index.scss";
.menu-collapse {
  display: flex;
  button {
    background-color: transparent;
    color: $font-light;
    border: 0;
    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left-logo {
    height: 100%;
    width: 40%;
    padding: 0 10px;
  }
  &__right {
    position: absolute;
    right: 0;
  }
}
