@import "../scss/index.scss";

.layout-basic {
  transition: margin-left 0.2s;
  // Esto es equivalente a poner layout-admin__header
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
    height: 65px;
  }
  &__content {
    min-height: calc(100vh - 70px);
    padding: 90px 25px 25px 25px;
  }
  &__footer {
    padding: 20;
  }
}
